In [1]:
# 1. ladowanie biblioteki Pandas
#zaimportuj modu l pyplot z biblioteki matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 2. tworzenie ramki danych ze s lownika
data = {'Name': ['Anna', 'Bob', 'Charles'],
        'Age': [23, 35, 45],
        'City': ['Warsaw', 'Berlin', 'Paris']}
df1 = pd.DataFrame(data)

In [3]:
# 3. zachowanie ramki danych pobranych z pliku w formacie csv (xlsx)
df1.to_csv('data1.csv', index=False)
df1.to_excel('data1.xlsx', index=False)

In [4]:
# 4. tworzenie ramki danych z listy list
data = [['Anna', 23, 'Warsaw'], ['Bob', 35, 'Berlin'], ['Charles', 45, 'Paris']]
df2 = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

In [5]:
df = pd.read_csv("data.csv")

In [6]:
# 5. transponowanie (wymieniamy kolumny a wierszy)
df_transposed = df.T

In [7]:
# 6. wy´swietli´c pierwsze 10 wierszy ramki danych
print(df.head(10))

         observation_id               submitted_time  gender  \
0  wmn_4503683847159808  2020-07-09 23:19:01.982 UTC  Female
1  wmn_4503772699295744  2020-07-09 21:22:15.864 UTC  Female
2  wmn_4504010469146624  2020-07-10 05:09:07.359 UTC  Female
3  wmn_4504035500752896   2020-07-11 16:59:49.85 UTC  Female
4  wmn_4504181395423232  2020-07-11 18:43:35.954 UTC  Female
5  wmn_4504301990051840  2020-07-10 11:27:16.581 UTC  Female
6  wmn_4504322055602176  2020-07-09 20:43:11.055 UTC  Female
7  wmn_4504369904222208  2020-07-18 12:52:31.482 UTC  Female
8  wmn_4504469091123200  2020-07-16 16:03:44.066 UTC  Female
9  wmn_4504687899574272  2020-07-17 07:16:32.082 UTC  Female

                  age                         geography  \
0  26 to 35 years old  City center or metropolitan area
1  16 to 25 years old                             Rural
2  16 to 25 years old                             Rural
3  16 to 25 years old               Suburban/Peri-urban
4  26 to 35 years old               Suburban/Peri-urban
5  26 to 35 years old  City center or metropolitan area
6  16 to 25 years old  City center or metropolitan area
7  16 to 25 years old               Suburban/Peri-urban
8  36 to 45 years old  City center or metropolitan area
9  36 to 45 years old  City center or metropolitan area

                                 financial_situation              education  \
0          I cannot afford enough food for my family  College or university
1          I cannot afford enough food for my family  Secondary/high school
2                I can afford food, but nothing else  College or university
3  I can afford food and regular expenses, and bu...  College or university
4  I can afford food and regular expenses, and bu...  College or university
5  I can comfortably afford food, clothes, and fu...  College or university
6  I can afford food and regular expenses, and bu...  College or university
7          I cannot afford enough food for my family  College or university
8  I can afford food and regular expenses, but no...  College or university
9  I can afford food and regular expenses, but no...  College or university

    employment_status           ethnicity      religion  ...  \
0          Unemployed             Mestizo   Catholicism  ...
1             Student             Tagalog        Muslim  ...
2             Student          Hiligaynon  Christianity  ...
3          Unemployed                Thai      Buddhism  ...
4  Employed full-time             African  Christianity  ...
5  Employed full-time              Bisaya  Christianity  ...
6  Employed full-time             Tagalog  Christianity  ...
7             Student               Shona         Other  ...
8  Employed part-time               Serer        Muslim  ...
9       Self-employed  Non-hispanic White     Mormonism  ...

  wmn_pre_safe_place wmn_post_safe_place wmn_safe_place_no_access  \
0                NaN                 NaN                      NaN
1                NaN                 NaN                      NaN
2                NaN                 NaN                      NaN
3                NaN                 NaN                      NaN
4                NaN                 NaN                      NaN
5                NaN                 NaN                      NaN
6                NaN                 NaN                      NaN
7                NaN                 NaN                      NaN
8                NaN                 NaN                      NaN
9                NaN                 NaN                      NaN

  wmn_safe_place_no_access_why wmn_pre_help wmn_post_help wmn_post_no_help  \
0                          NaN          NaN           NaN              NaN
1                          NaN          NaN           NaN              NaN
2                          NaN          NaN           NaN              NaN
3                          NaN          NaN           NaN              NaN
4                          NaN          NaN           NaN              NaN
5                          NaN          NaN           NaN              NaN
6                          NaN          NaN           NaN              NaN
7                          NaN           No            No               No
8                          NaN          NaN           NaN              NaN
9                          NaN          NaN           NaN              NaN

  wmn_no_help_why                      country               user_id
0             NaN                      Ecuador  wmn_5900473574883328
1             NaN                  Philippines  wmn_5702261783658496
2             NaN                  Philippines  wmn_5652767014387712
3             NaN                     Thailand  wmn_6411372690669568
4             NaN  United Republic of Tanzania  wmn_6215734184378368
5             NaN                  Philippines  wmn_6132893427433472
6             NaN                  Philippines  wmn_5846766880817152
7             NaN                     Zimbabwe  wmn_5063488921927680
8             NaN                      Senegal  wmn_6660892420997120
9             NaN                United States  wmn_6376829706829824

[10 rows x 46 columns]

In [8]:
# 7. wy´swietli´c ostatnie 10 wierszy ramki danych
print(df.tail(10))

             observation_id               submitted_time  gender  \
12344  wmn_6752309616050176  2020-07-11 14:37:07.551 UTC  Female
12345  wmn_6752631872815104   2020-07-10 02:25:50.01 UTC  Female
12346  wmn_6752968893530112  2020-07-14 05:19:46.429 UTC  Female
12347  wmn_6753819934588928  2020-07-25 17:34:27.837 UTC  Female
12348  wmn_6753897143336960   2020-07-10 11:49:14.64 UTC  Female
12349  wmn_6754210441068544  2020-07-16 15:46:12.095 UTC  Female
12350  wmn_6754415891709952  2020-07-10 09:57:24.863 UTC  Female
12351  wmn_6754483574145024  2020-07-19 17:50:01.295 UTC  Female
12352  wmn_6755256899993600   2020-07-11 16:09:09.78 UTC  Female
12353  wmn_6755376524689408  2020-07-17 03:19:00.388 UTC  Female

                      age                         geography  \
12344  26 to 35 years old  City center or metropolitan area
12345  26 to 35 years old  City center or metropolitan area
12346  16 to 25 years old  City center or metropolitan area
12347  26 to 35 years old               Suburban/Peri-urban
12348  26 to 35 years old               Suburban/Peri-urban
12349  26 to 35 years old               Suburban/Peri-urban
12350  16 to 25 years old  City center or metropolitan area
12351  26 to 35 years old  City center or metropolitan area
12352  36 to 45 years old                             Rural
12353  26 to 35 years old  City center or metropolitan area

                                     financial_situation  \
12344  I can comfortably afford food, clothes, and fu...
12345  I can afford food and regular expenses, but no...
12346  I can afford food and regular expenses, and bu...
12347  I can afford food and regular expenses, but no...
12348  I can afford food and regular expenses, but no...
12349  I can afford food and regular expenses, but no...
12350  I can afford food and regular expenses, but no...
12351  I can afford food and regular expenses, but no...
12352  I can comfortably afford food, clothes, and fu...
12353  I can afford food and regular expenses, and bu...

                   education   employment_status           ethnicity  \
12344          Post graduate  Employed full-time             Mestizo
12345  College or university          Unemployed             Tagalog
12346  Secondary/high school  Employed full-time   Prefer not to say
12347  College or university          Unemployed  Non-hispanic White
12348       Technical school  Employed full-time              Bisaya
12349  College or university          Unemployed             African
12350  Secondary/high school       Self-employed                 Kru
12351       Technical school          Unemployed  Non-hispanic White
12352  College or university       Self-employed                Thai
12353  Secondary/high school  Employed full-time             Mestizo

                   religion  ... wmn_pre_safe_place wmn_post_safe_place  \
12344           Catholicism  ...                NaN                 NaN
12345                 Other  ...                NaN                 NaN
12346  Prefer Not To Answer  ...                NaN                 NaN
12347           Catholicism  ...                NaN                 NaN
12348          Christianity  ...                NaN                 NaN
12349                Muslim  ...                NaN                 NaN
12350           Catholicism  ...                NaN                 NaN
12351  Prefer Not To Answer  ...          Every day              Rarely
12352              Buddhism  ...                NaN                 NaN
12353           Catholicism  ...                NaN                 NaN

      wmn_safe_place_no_access wmn_safe_place_no_access_why wmn_pre_help  \
12344                      NaN                          NaN           No
12345                      NaN                          NaN          NaN
12346                      NaN                          NaN          NaN
12347                      NaN                          NaN           No
12348                      NaN                          NaN          NaN
12349                      NaN                          NaN          NaN
12350                      NaN                          NaN          NaN
12351                       No                          NaN          Yes
12352                      NaN                          NaN          NaN
12353                      NaN                          NaN          NaN

      wmn_post_help wmn_post_no_help    wmn_no_help_why  \
12344            No               No                NaN
12345           NaN              NaN                NaN
12346           NaN              NaN                NaN
12347            No               No                NaN
12348           NaN              NaN                NaN
12349           NaN              NaN                NaN
12350           NaN              NaN                NaN
12351           Yes              Yes  Decline to Answer
12352           NaN              NaN                NaN
12353           NaN              NaN                NaN

                           country               user_id
12344                     Colombia  wmn_6066645730066432
12345                  Philippines  wmn_6585690490929152
12346                     Colombia  wmn_5979825287462912
12347                United States  wmn_5447933365583872
12348                  Philippines  wmn_6192783355543552
12349  United Republic of Tanzania  wmn_6151550260215808
12350                  Ivory Coast  wmn_5222308327456768
12351                United States  wmn_4706368994148352
12352                     Thailand  wmn_6730228637892608
12353                      Ecuador  wmn_6585614141489152

[10 rows x 46 columns]

In [9]:
# 8. wy´swietli´c informacje˛ o ramce danych
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12354 entries, 0 to 12353
Data columns (total 46 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   observation_id                  12354 non-null  object
 1   submitted_time                  12354 non-null  object
 2   gender                          12354 non-null  object
 3   age                             12354 non-null  object
 4   geography                       12354 non-null  object
 5   financial_situation             12354 non-null  object
 6   education                       12354 non-null  object
 7   employment_status               12354 non-null  object
 8   ethnicity                       12354 non-null  object
 9   religion                        12354 non-null  object
 10  wmn_hh                          12354 non-null  object
 11  wmn_pregnancy_desire            12354 non-null  object
 12  wmn_pregnancy_change            11351 non-null  object
 13  wmn_pregnancy_change_how        3030 non-null   object
 14  wmn_con                         12354 non-null  object
 15  wmn_con_type                    5426 non-null   object
 16  wmn_pre_con_access_difficulty   3460 non-null   object
 17  wmn_pre_missed_dose_pills       186 non-null    object
 18  wmn_pre_con_needed              3185 non-null   object
 19  wmn_pre_con_accessed            1825 non-null   object
 20  wmn_pre_injectable_missed       94 non-null     float64
 21  wmn_pre_iud_missed              75 non-null     float64
 22  wmn_pre_con_missed_why          437 non-null    object
 23  wmn_pre_con_missed_why_other    34 non-null     object
 24  wmn_post_con_access_difficulty  3460 non-null   object
 25  wmn_post_missed_dose_pills      184 non-null    object
 26  wmn_post_con_needed             3133 non-null   object
 27  wmn_post_con_accessed           1825 non-null   object
 28  wmn_post_injectable_missed      110 non-null    float64
 29  wmn_post_iud_missed             60 non-null     float64
 30  wmn_post_con_missed_why         443 non-null    object
 31  wmn_post_con_missed_why_other   23 non-null     object
 32  wmn_alone                       12354 non-null  object
 33  wmn_how_safe                    5282 non-null   object
 34  wmn_safe_change                 5282 non-null   object
 35  wmn_safe_place                  5282 non-null   object
 36  wmn_pre_safe_place              2795 non-null   object
 37  wmn_post_safe_place             2795 non-null   object
 38  wmn_safe_place_no_access        2795 non-null   object
 39  wmn_safe_place_no_access_why    849 non-null    object
 40  wmn_pre_help                    5282 non-null   object
 41  wmn_post_help                   5282 non-null   object
 42  wmn_post_no_help                5282 non-null   object
 43  wmn_no_help_why                 848 non-null    object
 44  country                         12354 non-null  object
 45  user_id                         12354 non-null  object
dtypes: float64(4), object(42)
memory usage: 4.3+ MB
None

In [10]:
# 9. wy´swietli´c, ile wierszy i kolumn znajduje sie˛ w ramce danych
print(df.shape)

(12354, 46)

In [11]:
# 10. wy´swietli´c informacje˛ statystyczna˛ o kolumnach liczbowych (warto´sci
#niepowtarzalne, ´srednia, odchylenie standardowe, minimum, kwartyle,
#maksimum)

print(df.describe())

       wmn_pre_injectable_missed  wmn_pre_iud_missed  \
count                  94.000000        7.500000e+01
mean                  214.765957        1.033763e+07
std                  2062.634850        8.952644e+07
min                     0.000000        0.000000e+00
25%                     1.000000        1.000000e+00
50%                     2.000000        2.000000e+00
75%                     2.750000        3.000000e+00
max                 20000.000000        7.753217e+08

       wmn_post_injectable_missed  wmn_post_iud_missed
count                  110.000000         6.000000e+01
mean                   232.845455         1.292203e+07
std                   2418.242269         1.000936e+08
min                      0.000000         0.000000e+00
25%                      1.000000         1.000000e+00
50%                      2.000000         2.000000e+00
75%                      3.000000         3.000000e+00
max                  25365.000000         7.753217e+08

In [12]:
# 11. wy´swietli´c informacje˛ statystyczna˛ o kolumnach kategoryzowanych (ile
#unikalnych warto´sci, top - jaka jest najpopularniejsza warto´s´c, freq -
#jak cze˛sto najpopularniejsza)

print(df['gender'].value_counts())
print(df['gender'].describe())

gender
Female                  12331
Prefer not to answer       15
Not Available               8
Name: count, dtype: int64
count      12354
unique         3
top       Female
freq       12331
Name: gender, dtype: object

In [13]:
# 12. usuna˛´c brakuja˛ce warto´sci w ramce danych
df_cleaned = df.dropna()

In [14]:
# 13. • przedstawi´c wyb´or wierszy i kolumny u˙zywaja˛c nazw oraz indeks´ow na
#r´o˙zne sposoby
print(df.iloc[0:11, 0:11])

          observation_id               submitted_time  gender  \
0   wmn_4503683847159808  2020-07-09 23:19:01.982 UTC  Female
1   wmn_4503772699295744  2020-07-09 21:22:15.864 UTC  Female
2   wmn_4504010469146624  2020-07-10 05:09:07.359 UTC  Female
3   wmn_4504035500752896   2020-07-11 16:59:49.85 UTC  Female
4   wmn_4504181395423232  2020-07-11 18:43:35.954 UTC  Female
5   wmn_4504301990051840  2020-07-10 11:27:16.581 UTC  Female
6   wmn_4504322055602176  2020-07-09 20:43:11.055 UTC  Female
7   wmn_4504369904222208  2020-07-18 12:52:31.482 UTC  Female
8   wmn_4504469091123200  2020-07-16 16:03:44.066 UTC  Female
9   wmn_4504687899574272  2020-07-17 07:16:32.082 UTC  Female
10  wmn_4504764873441280  2020-07-23 00:29:41.766 UTC  Female

                   age                         geography  \
0   26 to 35 years old  City center or metropolitan area
1   16 to 25 years old                             Rural
2   16 to 25 years old                             Rural
3   16 to 25 years old               Suburban/Peri-urban
4   26 to 35 years old               Suburban/Peri-urban
5   26 to 35 years old  City center or metropolitan area
6   16 to 25 years old  City center or metropolitan area
7   16 to 25 years old               Suburban/Peri-urban
8   36 to 45 years old  City center or metropolitan area
9   36 to 45 years old  City center or metropolitan area
10  16 to 25 years old                             Rural

                                  financial_situation              education  \
0           I cannot afford enough food for my family  College or university
1           I cannot afford enough food for my family  Secondary/high school
2                 I can afford food, but nothing else  College or university
3   I can afford food and regular expenses, and bu...  College or university
4   I can afford food and regular expenses, and bu...  College or university
5   I can comfortably afford food, clothes, and fu...  College or university
6   I can afford food and regular expenses, and bu...  College or university
7           I cannot afford enough food for my family  College or university
8   I can afford food and regular expenses, but no...  College or university
9   I can afford food and regular expenses, but no...  College or university
10                I can afford food, but nothing else       Technical school

     employment_status           ethnicity       religion wmn_hh
0           Unemployed             Mestizo    Catholicism      3
1              Student             Tagalog         Muslim     13
2              Student          Hiligaynon   Christianity      5
3           Unemployed                Thai       Buddhism      7
4   Employed full-time             African   Christianity      3
5   Employed full-time              Bisaya   Christianity      4
6   Employed full-time             Tagalog   Christianity     10
7              Student               Shona          Other      6
8   Employed part-time               Serer         Muslim     11
9        Self-employed  Non-hispanic White      Mormonism      2
10  Employed full-time             Pashtun  Muslim (Shia)     11

In [15]:
# 14. przedstawi´c wyb´or wierszy z ramki danych pod warunkiem odno´snie
#okre´slonej warto´sci kolumny
print(df[df['wmn_con'].str.contains('Yes')])

             observation_id               submitted_time  gender  \
0      wmn_4503683847159808  2020-07-09 23:19:01.982 UTC  Female
4      wmn_4504181395423232  2020-07-11 18:43:35.954 UTC  Female
6      wmn_4504322055602176  2020-07-09 20:43:11.055 UTC  Female
8      wmn_4504469091123200  2020-07-16 16:03:44.066 UTC  Female
10     wmn_4504764873441280  2020-07-23 00:29:41.766 UTC  Female
...                     ...                          ...     ...
12344  wmn_6752309616050176  2020-07-11 14:37:07.551 UTC  Female
12346  wmn_6752968893530112  2020-07-14 05:19:46.429 UTC  Female
12348  wmn_6753897143336960   2020-07-10 11:49:14.64 UTC  Female
12352  wmn_6755256899993600   2020-07-11 16:09:09.78 UTC  Female
12353  wmn_6755376524689408  2020-07-17 03:19:00.388 UTC  Female

                      age                         geography  \
0      26 to 35 years old  City center or metropolitan area
4      26 to 35 years old               Suburban/Peri-urban
6      16 to 25 years old  City center or metropolitan area
8      36 to 45 years old  City center or metropolitan area
10     16 to 25 years old                             Rural
...                   ...                               ...
12344  26 to 35 years old  City center or metropolitan area
12346  16 to 25 years old  City center or metropolitan area
12348  26 to 35 years old               Suburban/Peri-urban
12352  36 to 45 years old                             Rural
12353  26 to 35 years old  City center or metropolitan area

                                     financial_situation  \
0              I cannot afford enough food for my family
4      I can afford food and regular expenses, and bu...
6      I can afford food and regular expenses, and bu...
8      I can afford food and regular expenses, but no...
10                   I can afford food, but nothing else
...                                                  ...
12344  I can comfortably afford food, clothes, and fu...
12346  I can afford food and regular expenses, and bu...
12348  I can afford food and regular expenses, but no...
12352  I can comfortably afford food, clothes, and fu...
12353  I can afford food and regular expenses, and bu...

                   education   employment_status          ethnicity  \
0      College or university          Unemployed            Mestizo
4      College or university  Employed full-time            African
6      College or university  Employed full-time            Tagalog
8      College or university  Employed part-time              Serer
10          Technical school  Employed full-time            Pashtun
...                      ...                 ...                ...
12344          Post graduate  Employed full-time            Mestizo
12346  Secondary/high school  Employed full-time  Prefer not to say
12348       Technical school  Employed full-time             Bisaya
12352  College or university       Self-employed               Thai
12353  Secondary/high school  Employed full-time            Mestizo

                   religion  ... wmn_pre_safe_place wmn_post_safe_place  \
0               Catholicism  ...                NaN                 NaN
4              Christianity  ...                NaN                 NaN
6              Christianity  ...                NaN                 NaN
8                    Muslim  ...                NaN                 NaN
10            Muslim (Shia)  ...                NaN                 NaN
...                     ...  ...                ...                 ...
12344           Catholicism  ...                NaN                 NaN
12346  Prefer Not To Answer  ...                NaN                 NaN
12348          Christianity  ...                NaN                 NaN
12352              Buddhism  ...                NaN                 NaN
12353           Catholicism  ...                NaN                 NaN

      wmn_safe_place_no_access wmn_safe_place_no_access_why wmn_pre_help  \
0                          NaN                          NaN          NaN
4                          NaN                          NaN          NaN
6                          NaN                          NaN          NaN
8                          NaN                          NaN          NaN
10                         NaN                          NaN          NaN
...                        ...                          ...          ...
12344                      NaN                          NaN           No
12346                      NaN                          NaN          NaN
12348                      NaN                          NaN          NaN
12352                      NaN                          NaN          NaN
12353                      NaN                          NaN          NaN

      wmn_post_help wmn_post_no_help wmn_no_help_why  \
0               NaN              NaN             NaN
4               NaN              NaN             NaN
6               NaN              NaN             NaN
8               NaN              NaN             NaN
10              NaN              NaN             NaN
...             ...              ...             ...
12344            No               No             NaN
12346           NaN              NaN             NaN
12348           NaN              NaN             NaN
12352           NaN              NaN             NaN
12353           NaN              NaN             NaN

                           country               user_id
0                          Ecuador  wmn_5900473574883328
4      United Republic of Tanzania  wmn_6215734184378368
6                      Philippines  wmn_5846766880817152
8                          Senegal  wmn_6660892420997120
10                     Afghanistan  wmn_5962315779538944
...                            ...                   ...
12344                     Colombia  wmn_6066645730066432
12346                     Colombia  wmn_5979825287462912
12348                  Philippines  wmn_6192783355543552
12352                     Thailand  wmn_6730228637892608
12353                      Ecuador  wmn_6585614141489152

[5426 rows x 46 columns]

In [16]:
# 15. przedstawi´c wyb´or wierszy z ramki danych pod warunkiem spe lnienia
#kilku warunk´ow jednocze´snie
print(df[(df['wmn_con'] == 'Yes') & (df['wmn_pregnancy_change'] == 'No')])

             observation_id               submitted_time  gender  \
4      wmn_4504181395423232  2020-07-11 18:43:35.954 UTC  Female
6      wmn_4504322055602176  2020-07-09 20:43:11.055 UTC  Female
8      wmn_4504469091123200  2020-07-16 16:03:44.066 UTC  Female
10     wmn_4504764873441280  2020-07-23 00:29:41.766 UTC  Female
13     wmn_4505544242233344    2020-07-10 01:19:58.4 UTC  Female
...                     ...                          ...     ...
12337  wmn_6750950024019968  2020-07-22 00:23:06.043 UTC  Female
12340  wmn_6751212218351616  2020-07-26 00:49:33.759 UTC  Female
12344  wmn_6752309616050176  2020-07-11 14:37:07.551 UTC  Female
12348  wmn_6753897143336960   2020-07-10 11:49:14.64 UTC  Female
12352  wmn_6755256899993600   2020-07-11 16:09:09.78 UTC  Female

                      age                         geography  \
4      26 to 35 years old               Suburban/Peri-urban
6      16 to 25 years old  City center or metropolitan area
8      36 to 45 years old  City center or metropolitan area
10     16 to 25 years old                             Rural
13     16 to 25 years old                             Rural
...                   ...                               ...
12337  16 to 25 years old               Suburban/Peri-urban
12340  16 to 25 years old               Suburban/Peri-urban
12344  26 to 35 years old  City center or metropolitan area
12348  26 to 35 years old               Suburban/Peri-urban
12352  36 to 45 years old                             Rural

                                     financial_situation  \
4      I can afford food and regular expenses, and bu...
6      I can afford food and regular expenses, and bu...
8      I can afford food and regular expenses, but no...
10                   I can afford food, but nothing else
13             I cannot afford enough food for my family
...                                                  ...
12337          I cannot afford enough food for my family
12340  I can afford food and regular expenses, but no...
12344  I can comfortably afford food, clothes, and fu...
12348  I can afford food and regular expenses, but no...
12352  I can comfortably afford food, clothes, and fu...

                   education   employment_status          ethnicity  \
4      College or university  Employed full-time            African
6      College or university  Employed full-time            Tagalog
8      College or university  Employed part-time              Serer
10          Technical school  Employed full-time            Pashtun
13     Secondary/high school             Student            Ilocano
...                      ...                 ...                ...
12337  College or university       Self-employed  None of the above
12340  College or university  Employed full-time              White
12344          Post graduate  Employed full-time            Mestizo
12348       Technical school  Employed full-time             Bisaya
12352  College or university       Self-employed               Thai

                   religion  ... wmn_pre_safe_place wmn_post_safe_place  \
4              Christianity  ...                NaN                 NaN
6              Christianity  ...                NaN                 NaN
8                    Muslim  ...                NaN                 NaN
10            Muslim (Shia)  ...                NaN                 NaN
13     Prefer Not To Answer  ...                NaN                 NaN
...                     ...  ...                ...                 ...
12337          Christianity  ...                NaN                 NaN
12340           Agnosticism  ...                NaN                 NaN
12344           Catholicism  ...                NaN                 NaN
12348          Christianity  ...                NaN                 NaN
12352              Buddhism  ...                NaN                 NaN

      wmn_safe_place_no_access wmn_safe_place_no_access_why  \
4                          NaN                          NaN
6                          NaN                          NaN
8                          NaN                          NaN
10                         NaN                          NaN
13                         NaN                          NaN
...                        ...                          ...
12337                      NaN                          NaN
12340                      NaN                          NaN
12344                      NaN                          NaN
12348                      NaN                          NaN
12352                      NaN                          NaN

             wmn_pre_help wmn_post_help wmn_post_no_help  \
4                     NaN           NaN              NaN
6                     NaN           NaN              NaN
8                     NaN           NaN              NaN
10                    NaN           NaN              NaN
13     Decline to respond            No              Yes
...                   ...           ...              ...
12337                  No            No              Yes
12340                 NaN           NaN              NaN
12344                  No            No               No
12348                 NaN           NaN              NaN
12352                 NaN           NaN              NaN

                                     wmn_no_help_why  \
4                                                NaN
6                                                NaN
8                                                NaN
10                                               NaN
13     Unable to travel due to COVID-19 restrictions
...                                              ...
12337                       Did not know where to go
12340                                            NaN
12344                                            NaN
12348                                            NaN
12352                                            NaN

                           country               user_id
4      United Republic of Tanzania  wmn_6215734184378368
6                      Philippines  wmn_5846766880817152
8                          Senegal  wmn_6660892420997120
10                     Afghanistan  wmn_5962315779538944
13                     Philippines  wmn_6297768996110336
...                            ...                   ...
12337                      Nigeria  wmn_4507016238465024
12340                        Chile  wmn_5663526413926400
12344                     Colombia  wmn_6066645730066432
12348                  Philippines  wmn_6192783355543552
12352                     Thailand  wmn_6730228637892608

[3421 rows x 46 columns]

In [17]:
# 16. wybra´c wiersze kt´ore zawieraja˛ w kolumnie kategoryzowanej okre´slones lowo
print(df[df['wmn_con'].str.contains('Yes')])

             observation_id               submitted_time  gender  \
0      wmn_4503683847159808  2020-07-09 23:19:01.982 UTC  Female
4      wmn_4504181395423232  2020-07-11 18:43:35.954 UTC  Female
6      wmn_4504322055602176  2020-07-09 20:43:11.055 UTC  Female
8      wmn_4504469091123200  2020-07-16 16:03:44.066 UTC  Female
10     wmn_4504764873441280  2020-07-23 00:29:41.766 UTC  Female
...                     ...                          ...     ...
12344  wmn_6752309616050176  2020-07-11 14:37:07.551 UTC  Female
12346  wmn_6752968893530112  2020-07-14 05:19:46.429 UTC  Female
12348  wmn_6753897143336960   2020-07-10 11:49:14.64 UTC  Female
12352  wmn_6755256899993600   2020-07-11 16:09:09.78 UTC  Female
12353  wmn_6755376524689408  2020-07-17 03:19:00.388 UTC  Female

                      age                         geography  \
0      26 to 35 years old  City center or metropolitan area
4      26 to 35 years old               Suburban/Peri-urban
6      16 to 25 years old  City center or metropolitan area
8      36 to 45 years old  City center or metropolitan area
10     16 to 25 years old                             Rural
...                   ...                               ...
12344  26 to 35 years old  City center or metropolitan area
12346  16 to 25 years old  City center or metropolitan area
12348  26 to 35 years old               Suburban/Peri-urban
12352  36 to 45 years old                             Rural
12353  26 to 35 years old  City center or metropolitan area

                                     financial_situation  \
0              I cannot afford enough food for my family
4      I can afford food and regular expenses, and bu...
6      I can afford food and regular expenses, and bu...
8      I can afford food and regular expenses, but no...
10                   I can afford food, but nothing else
...                                                  ...
12344  I can comfortably afford food, clothes, and fu...
12346  I can afford food and regular expenses, and bu...
12348  I can afford food and regular expenses, but no...
12352  I can comfortably afford food, clothes, and fu...
12353  I can afford food and regular expenses, and bu...

                   education   employment_status          ethnicity  \
0      College or university          Unemployed            Mestizo
4      College or university  Employed full-time            African
6      College or university  Employed full-time            Tagalog
8      College or university  Employed part-time              Serer
10          Technical school  Employed full-time            Pashtun
...                      ...                 ...                ...
12344          Post graduate  Employed full-time            Mestizo
12346  Secondary/high school  Employed full-time  Prefer not to say
12348       Technical school  Employed full-time             Bisaya
12352  College or university       Self-employed               Thai
12353  Secondary/high school  Employed full-time            Mestizo

                   religion  ... wmn_pre_safe_place wmn_post_safe_place  \
0               Catholicism  ...                NaN                 NaN
4              Christianity  ...                NaN                 NaN
6              Christianity  ...                NaN                 NaN
8                    Muslim  ...                NaN                 NaN
10            Muslim (Shia)  ...                NaN                 NaN
...                     ...  ...                ...                 ...
12344           Catholicism  ...                NaN                 NaN
12346  Prefer Not To Answer  ...                NaN                 NaN
12348          Christianity  ...                NaN                 NaN
12352              Buddhism  ...                NaN                 NaN
12353           Catholicism  ...                NaN                 NaN

      wmn_safe_place_no_access wmn_safe_place_no_access_why wmn_pre_help  \
0                          NaN                          NaN          NaN
4                          NaN                          NaN          NaN
6                          NaN                          NaN          NaN
8                          NaN                          NaN          NaN
10                         NaN                          NaN          NaN
...                        ...                          ...          ...
12344                      NaN                          NaN           No
12346                      NaN                          NaN          NaN
12348                      NaN                          NaN          NaN
12352                      NaN                          NaN          NaN
12353                      NaN                          NaN          NaN

      wmn_post_help wmn_post_no_help wmn_no_help_why  \
0               NaN              NaN             NaN
4               NaN              NaN             NaN
6               NaN              NaN             NaN
8               NaN              NaN             NaN
10              NaN              NaN             NaN
...             ...              ...             ...
12344            No               No             NaN
12346           NaN              NaN             NaN
12348           NaN              NaN             NaN
12352           NaN              NaN             NaN
12353           NaN              NaN             NaN

                           country               user_id
0                          Ecuador  wmn_5900473574883328
4      United Republic of Tanzania  wmn_6215734184378368
6                      Philippines  wmn_5846766880817152
8                          Senegal  wmn_6660892420997120
10                     Afghanistan  wmn_5962315779538944
...                            ...                   ...
12344                     Colombia  wmn_6066645730066432
12346                     Colombia  wmn_5979825287462912
12348                  Philippines  wmn_6192783355543552
12352                     Thailand  wmn_6730228637892608
12353                      Ecuador  wmn_6585614141489152

[5426 rows x 46 columns]

In [18]:
# 17. utw´orz kolumne˛ na podstawie istnieja˛cyn
df['Age_in_5_years'] = df['age'] + '+ 5'

In [19]:
# 18.  usu´n kolumne˛
df.drop(columns=['Age_in_5_years'], inplace=True)

In [20]:
# 19.  zmie´n nazwe˛ kolumny
df.rename(columns={'gender': 'trugender'}, inplace=True)

In [21]:
# 20. zachowaj ramke˛ danych jako plik csv na komputerze
df.to_csv('new_data.csv', index=False)

In [22]:
# 21. wy´swietli´c ´srednia (maksymalna˛, minimalna˛) warto´s´c z jednej kolumny
print(df1['Age'].mean())
print(df1['Age'].max())
print(df1['Age'].min())

34.333333333333336
45
23

In [23]:
# 22. wy´swietli´c liczbe˛ wierszy
print(len(df))

12354

In [24]:
# 23. wy´swietli´c warto´sci unikatowe w kolumnie
print(df['trugender'].unique())

['Female' 'Prefer not to answer' 'Not Available']

In [25]:
# 24. wy´swietli´c liczby rekord´ow odpowiadaja˛cych do warto´sci
print(df['trugender'].value_counts())

trugender
Female                  12331
Prefer not to answer       15
Not Available               8
Name: count, dtype: int64

In [26]:
# 25. • sortowanie wierszy ramki danych wed lug warto´sci okre´slonej kolumny
#(maleja˛co, rosna˛co)
df_sorted = df1.sort_values(by='Age', ascending=True)
df_sorted_desc = df1.sort_values(by='Age', ascending=False)

In [27]:
# 26. wy´swietli´c wierszy dla 10 najwie˛kszych (najmniejszych) warto´sci okre´slonej kolumny
print(df1.nlargest(10, 'Age'))
print(df1.nsmallest(10, 'Age'))

      Name  Age    City
2  Charles   45   Paris
1      Bob   35  Berlin
0     Anna   23  Warsaw
      Name  Age    City
0     Anna   23  Warsaw
1      Bob   35  Berlin
2  Charles   45   Paris

In [28]:
# 27. wy´swietli´c wierszy dla 10 najwie˛kszych warto´sci okre´slonej kolumny
#pod warunkiem okre´slonych warto´sci innej kolumny
print(df1[df1['City'] == 'Berlin'].nlargest(10, 'Age'))

  Name  Age    City
1  Bob   35  Berlin

In [29]:
# 28. grupowanie wierszy wedlug warto´sci kolumny kategoryzowanej, potem
#- u´srednienie warto´sci wszystkich kolumn w grupie - MultiIndex
grouped = df1.groupby('City').mean(numeric_only=True)  # Use numeric_only=True to avoid issues with non-numeric columns
print(grouped)

         Age
City
Berlin  35.0
Paris   45.0
Warsaw  23.0

In [30]:
# 29. grupowanie wierszy wedlug warto´sci kolumny kategoryzowanej, potem
#- u´srednienie warto´sci dla pewnych kolumn, liczba warto´sci i mediana
#dla pozosta lych kolumn w grupach
grouped_agg = df1.groupby('City').agg({
    'Age': ['mean', 'count'],
    'Name': ['max']
})
print(grouped_agg)

         Age           Name
        mean count      max
City
Berlin  35.0     1      Bob
Paris   45.0     1  Charles
Warsaw  23.0     1     Anna

In [31]:
# 30. wy´swietli´c nazwy kolumn indeksu z lo˙zonego
print(grouped_agg.columns)

MultiIndex([( 'Age',  'mean'),
            ( 'Age', 'count'),
            ('Name',   'max')],
           )

In [32]:
# 31. • sortowa´c kolumne˛ indeksu z lo˙zonego
grouped_agg = grouped_agg.sort_index(axis=1)
print(grouped_agg)

         Age           Name
       count  mean      max
City
Berlin     1  35.0      Bob
Paris      1  45.0  Charles
Warsaw     1  23.0     Anna

In [33]:
# 32. stworzy´c tabele˛ przystawna˛ (pivot table) na podstawie ramki danych
pivot = df1.pivot_table(values='Age', index='City', aggfunc='mean')
print(pivot)

         Age
City
Berlin  35.0
Paris   45.0
Warsaw  23.0

In [34]:
# 33. wy´swietli´c indeksy i kolumny tabeli przystawnej
print(pivot.index)
print(pivot.columns)

Index(['Berlin', 'Paris', 'Warsaw'], dtype='object', name='City')
Index(['Age'], dtype='object')

In [35]:
# 34.  utw´orz indeks z lo˙zony tabeli przystawnej i wy´swietl go
pivot_multi = df1.pivot_table(values='Age', index=['City', 'Name'], aggfunc='mean')
print(pivot_multi)

                 Age
City   Name
Berlin Bob      35.0
Paris  Charles  45.0
Warsaw Anna     23.0

In [ ]:
# 37. wy´swietli´c wykres na podstawie tabeli przystawnej
pivot.plot(kind='bar')
plt.show()

In [ ]:
# 38. narysowa´c histogram na podstawie warto´sci kolumny
df1['Age'].plot(kind='hist')
plt.show()

In [ ]:
# 39. przedstawi´c sposoby la˛czenia ramek danych za pomoca˛ metod merge i
#concat
df3 = pd.DataFrame({'Name': ['Anna', 'Bob'], 'Salary': [5000, 6000]})
merged_df = pd.merge(df1, df3, on='Name')
concatenated_df = pd.concat([df1, df3], axis=1)

In [ ]:
# 40. pokaza´c dodawanie nowych kolumn za pomoca˛ operacji matematycznych
df1['Double Age'] = df1['Age'] * 2

In [ ]:
# 41. przedstawi´c na przyk ladzie dodawanie nowych kolumn z pomoca˛ funkcji lambda
df1['Age Squared'] = df1['Age'].apply(lambda x: x**2)

In [ ]:
# 42. • przedstawi´c mo˙zliwo´sci pracy z du˙zymi plikami przy u˙zyciu argumentu chunksize
chunk_size = 10000